@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@700&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
body {
  background: -webkit-radial-gradient(#000 15%, transparent 16%) 0 0, -webkit-radial-gradient(#000 15%, transparent 16%) 8px 8px, -webkit-radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px, -webkit-radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 8px 9px;
  background: -o-radial-gradient(#000 15%, transparent 16%) 0 0, -o-radial-gradient(#000 15%, transparent 16%) 8px 8px, -o-radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px, -o-radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 8px 9px;
  background: radial-gradient(#000 15%, transparent 16%) 0 0, radial-gradient(#000 15%, transparent 16%) 8px 8px, radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px, radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 8px 9px;
  background-color: #000;
  background-size: 16px 16px;
  color: #fff; }

.wrapper {
  min-height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template: minmax(100px, auto) 1fr minmax(70px, auto)/1fr;
  /* 1 - шапка, 2 - main, 1fr - чтобы занимал все пространство и прибивал к низу футер */
  grid-template-areas: "header" "main" "footer"; }

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  font-family: 'Pacifico', cursive;
  grid-area: header;
  background: #373B44;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #4286f4, #373B44);
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#4286f4), to(#373B44));
  background: -webkit-linear-gradient(top, #4286f4, #373B44);
  background: -o-linear-gradient(top, #4286f4, #373B44);
  background: linear-gradient(to bottom, #4286f4, #373B44);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 15px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
  grid-template: 1fr/1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-items: space-around; }
  .header__logo {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3; }
    .header__logo img {
      -o-object-fit: cover;
      object-fit: cover;
      border-radius: 50%;
      /* background-color: #fff; */ }
  .header__menu {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4; }
  .header__list {
    display: -ms-grid;
    display: grid;
    grid-auto-flow: column;
    justify-items: end; }
    .header__list li {
      margin: 0 0 0 30px;
      /* чтобы пукнты меню не сближались сильно */ }
  .header__link {
    color: #fff;
    font-size: 18px; }

@media (max-width: 992px) {
  .header__list {
    display: none; }
  .header__menu {
    display: -ms-grid;
    display: grid;
    justify-items: end; } }

.main {
  padding: 30px 15px; }

.sidebar {
  font-family: 'Pacifico', cursive;
  background: #1f4037;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #99f2c8, #1f4037);
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#99f2c8), to(#1f4037));
  background: -webkit-linear-gradient(left, #99f2c8, #1f4037);
  background: -o-linear-gradient(left, #99f2c8, #1f4037);
  background: linear-gradient(to right, #99f2c8, #1f4037);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 30px 15px;
  margin: 0 0 30px 0; }
  .sidebar__list li {
    margin: 0 0 30px 0; }
  .sidebar__link {
    color: #fff;
    font-size: 20px; }

.content__title {
  font-size: 30px;
  letter-spacing: 5px;
  margin: 0 0 40px 0;
  text-align: center;
  font-family: 'Dancing Script', cursive;
  text-shadow: 2px 2px 2px #fff; }

.content__title:before, .content__title:after {
  content: "\2746";
  display: inline-block;
  font-size: 60px;
  color: #38afaa;
  -webkit-animation: my 4s infinite alternate;
  animation: my 4s infinite alternate; }

.content__title:before {
  margin-right: 0.5em; }

.content__title:after {
  margin-left: 0.5em; }

@-webkit-keyframes my {
  0% {
    color: #2e2f92; }
  25% {
    color: #38afaa; }
  50% {
    color: #5b59a7; }
  75% {
    color: #f7b21c; }
  100% {
    color: #e12527; } }

@keyframes my {
  0% {
    color: #2e2f92; }
  25% {
    color: #38afaa; }
  50% {
    color: #5b59a7; }
  75% {
    color: #f7b21c; }
  100% {
    color: #e12527; } }

.content__gallery {
  margin: 0 0 50px 0; }

@media (min-width: 992px) {
  .main {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: main;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
    grid-template: 1fr/1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr; }
  .sidebar {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    margin: 0; }
  .content {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
    padding: 0 0 0 30px; } }

.gallery__title {
  font-size: 18px;
  margin: 0 0 30px 0;
  text-align: center;
  font-family: 'PT Sans Caption', sans-serif;
  letter-spacing: 4px; }

.gallery__items {
  display: -ms-grid;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); }

.gallery__item {
  position: relative;
  padding: 0 0 85% 0; }
  .gallery__item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover; }

@media (min-width: 767px) {
  .gallery__item_big {
    -ms-grid-column-span: 2;
    grid-column: span 2;
    /* 2 - сколько ячеек объединит по вертикали или горизонтали */
    -ms-grid-row-span: 2;
    grid-row: span 2; } }

.products__title {
  font-size: 18px;
  margin: 0 0 30px 0;
  text-align: center;
  font-family: 'PT Sans Caption', sans-serif;
  letter-spacing: 4px; }

.products__items {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  -webkit-column-gap: 30px;
  column-gap: 30px;
  row-gap: 50px;
  /* grid-auto-rows: 1fr; все строки будут выстраиваться по ширине максимального элемента (там где больше текста) */ }

.products__item {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  -ms-grid-rows: auto 1fr minmax(40px, auto);
  -ms-grid-columns: 1fr;
  grid-template: auto 1fr minmax(40px, auto)/1fr; }

.products__image {
  position: relative;
  padding: 0 0 90% 0;
  margin: 0 0 20px 0; }
  .products__image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover; }

.products__name {
  font-size: 20px;
  color: #fff;
  line-height: 30px;
  margin: 0 0 20px 0; }

.products__button {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  background-color: purple;
  padding: 0 20px;
  line-height: 40px;
  -ms-grid-column-align: start;
  justify-self: start;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s; }

.products__button:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1); }

.products__button:active {
  -webkit-transform: translate(3px, 3px);
  -ms-transform: translate(3px, 3px);
  transform: translate(3px, 3px); }

.footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
  background-color: #a4508b;
  background-image: -webkit-linear-gradient(124deg, #a4508b 0%, #5f0a87 74%);
  background-image: -o-linear-gradient(124deg, #a4508b 0%, #5f0a87 74%);
  background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
  grid-template: 1fr/1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
  padding: 15px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

@media (min-width: 550px) {
  .footer__copy {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3; }
  .footer__text {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
    text-align: right; } }

@media (max-width: 550px) {
  .footer {
    -ms-grid-rows: 1fr 1fr;
    -ms-grid-columns: 1fr;
    grid-template: 1fr 1fr / 1fr;
    text-align: center; }
  .footer__copy {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2; }
  .footer__text {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; } }
